body {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 100px;
  height: 30px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
}

.form .field-container {
  margin: 5px;
}
